/* Fonts */
@font-default: 'Helvetica Neue', Arial, san-serif;

/* Colors */
@gray: #979797;
@green: #3db787;
@blue: #33A2CC;
@red: #da2a54;
@black: #000;
@white: #fff;

/* Custom CSS classes */
.app {
  font-family: @font-default;
}

.ports-container {
  padding: 40px;
}
